In [ ]:
#6-1
person_info = {
    'first_name': 'Ayub',
    'last_name': 'Nur',
    'age': 21,
    'city': 'Portland'
}

print("First Name:", person_info['first_name'])
print("Last Name:", person_info['last_name'])
print("Age:", person_info['age'])
print("City:", person_info['city'])

First Name: Ayub
Last Name: Nur
Age: 21
City: Portland

In [ ]:
#6-2
favorite_numbers = {
    'Ayub': 10,
    'Sammy': 11,
    'Clarke': 13,
    'Piop': 842,
    'Kyler': 32132
}

for person, number in favorite_numbers.items():
    print(f"{person}'s favorite number is {number}.")

Ayub's favorite number is 10.
Sammy's favorite number is 11.
Clarke's favorite number is 13.
Piop's favorite number is 842.
Kyler's favorite number is 32132.

In [ ]:
#6-3
programming_glossary = {
    'if-Else Statement': 'takes one action when a conditional test passes and a different action in all other cases',
    'If Statement': 'allows you to examine the current state of a program and respond appropriately to that state',
    'Conditional Test': 'An expression that can be evaluated as True or False',
    'List': 'An ordered collection of items that can be of different types. Lists are mutable, and elements can be added, removed, or modified.',
    'Loop': 'A control flow statement that allows code to be executed repeatedly based on a certain condition.'
}

for term, meaning in programming_glossary.items():
    print(f"{term}:\n{meaning}\n")

if-Else Statement:
takes one action when a conditional test passes and a different action in all other cases

If Statement:
allows you to examine the current state of a program and respond appropriately to that state

Conditional Test:
An expression that can be evaluated as True or False

List:
An ordered collection of items that can be of different types. Lists are mutable, and elements can be added, removed, or modified.

Loop:
A control flow statement that allows code to be executed repeatedly based on a certain condition.

In [ ]:
#6-4
#not needed

In [ ]:
#6-5
rivers_dict = {
    'Nile': 'Egypt',
    'Yangtze': 'China',
    'Mississippi': 'USA'
}

print("Sentences about each river:")
for river, country in rivers_dict.items():
    print(f"The {river} runs through {country}.")

print("\nNames of each river:")
for river in rivers_dict.keys():
    print(river)

print("\nNames of each country:")
for country in rivers_dict.values():
    print(country)

Sentences about each river:
The Nile runs through Egypt.
The Yangtze runs through China.
The Mississippi runs through USA.

Names of each river:
Nile
Yangtze
Mississippi

Names of each country:
Egypt
China
USA

In [ ]:
#6-7
person_info = {
    'first_name': 'Ayub',
    'last_name': 'Nur',
    'age': 21,
    'city': 'Portland'
}

person2_info = {
    'first_name': 'Nadim',
    'last_name': 'Barakat',
    'age': 22,
    'city': 'North Attleboro'
}

person3_info = {
    'first_name': 'Nessren',
    'last_name': 'Oudryl',
    'age': 20,
    'city': 'North Reading'
}

people = [person_info, person2_info, person3_info]

for person in people:
    print("\nPerson Information:")
    print("First Name:", person['first_name'])
    print("Last Name:", person['last_name'])
    print("Age:", person['age'])
    print("City:", person['city'])

Person Information:
First Name: Ayub
Last Name: Nur
Age: 21
City: Portland

Person Information:
First Name: Nadim
Last Name: Barakat
Age: 22
City: North Attleboro

Person Information:
First Name: Nessren
Last Name: Oudryl
Age: 20
City: North Reading

In [ ]:
#6-8
# Creating dictionaries for several pets
pet1 = {'name': 'Fritz', 'kind': 'Cat', 'owner': 'Ayub'}
pet2 = {'name': 'Grunt', 'kind': 'Gerbil', 'owner': 'Nadim'}
pet3 = {'name': 'Milly', 'kind': 'Dog', 'owner': 'Nessren'}

# Storing the dictionaries in a list called pets
pets = [pet1, pet2, pet3]

# Looping through the list of pets
for pet in pets:
    print(f"\nPet Information for {pet['name']}:")
    print("Kind of Animal:", pet['kind'])
    print("Owner's Name:", pet['owner'])

Pet Information for Fritz:
Kind of Animal: Cat
Owner's Name: Ayub

Pet Information for Grunt:
Kind of Animal: Gerbil
Owner's Name: Nadim

Pet Information for Milly:
Kind of Animal: Dog
Owner's Name: Nessren

In [ ]:
#6-9
# Creating a dictionary called favorite_places
favorite_places = {
    'Ayub': ['Istanbul', 'Mount Katahdin', 'Sabego Lake'],
    'Nadim': ['Sydney', 'Waterfall', 'Montreal'],
    'Nessren': ['Nice', 'Portsmouth', 'Morocco']
}

# Looping through the dictionary and printing each person's name and favorite places
for person, places in favorite_places.items():
    print(f"\n{person}'s Favorite Places:")
    for place in places:
        print("- " + place)

Ayub's Favorite Places:
- Istanbul
- Mount Katahdin
- Sabego Lake

Nadim's Favorite Places:
- Sydney
- Waterfall
- Montreal

Nessren's Favorite Places:
- Nice
- Portsmouth
- Morocco

In [ ]:
#6-11
# Creating a dictionary called cities
cities = {
    'Tokyo': {
        'country': 'Japan',
        'population': 1475000,
        'fact': 'Kyoto is known traditional architecture.'
    },
    'New York': {
        'country': 'United States',
        'population': 654776,
        'fact': 'Boston is basically where I am right now."'
    },
    'Paris': {
        'country': 'Scotland',
        'population': 635100,
        'fact': 'Glasgow is the most populous city in Scotland.'
    }
}

# Printing information about each city
for city, info in cities.items():
    print(f"\nCity: {city}")
    print("Country:", info['country'])
    print("Population:", info['population'])
    print("Fact:", info['fact'])

City: Tokyo
Country: Japan
Population: 1475000
Fact: Kyoto is known traditional architecture.

City: New York
Country: United States
Population: 654776
Fact: Boston is basically where I am right now."

City: Paris
Country: Scotland
Population: 635100
Fact: Glasgow is the most populous city in Scotland.