In [ ]:
#5-1
# Variable for testing
car = 'subaru'

# Test 1
print(car == 'subaru')

# Test 2
print(car == 'audi')

# Test 3
number = 5
print(number > 3)

# Test 4
print(number < 2)

# Test 5
name = 'Alice'

print(name != 'Bob')

# Test 6
print(len(name) == 5)

# Test 7
temperature = 25
print(20 <= temperature <= 30)

# Test 8
print(temperature > 30 or temperature < 10)

# Test 9
is_sunny = True
print(is_sunny and number_of_clouds < 5)

# Test 10
print(is_sunny or is_raining)

In [ ]:
#5-2
fruit = 'apple'
print(fruit == 'apple')

color = 'blue'
print(color != 'red')

word = 'HELLO'
print(word.lower() == 'hello')

age = 25
print(age == 25)

temperature = 15
print(temperature > 20)

price = 30
print(price < 25 or price >= 30)

points = 42
print(points > 30 and points < 50)

hours_worked = 60
print(hours_worked < 40 or hours_worked > 80)

fruits = ['apple', 'banana', 'orange']
print('banana' in fruits)

vegetables = ['carrot', 'broccoli', 'spinach']
print('zucchini' not in vegetables)

In [ ]:
#5-6
age = 28

if age < 2:
    print("Just a little baby!")
elif 2 <= age < 4:
    print("Toddling around")
elif 4 <= age < 13:
    print("childhood")
elif 13 <= age < 20:
    print("Teenage years")
elif 20 <= age < 65:
    print("Adulting.")
else:
    print("oldies")

In [ ]:
#5-7
favorite_fruits = ['apple', 'banana', 'strawberry']

if 'apple' in favorite_fruits:
    print("You really like apples!")

if 'banana' in favorite_fruits:
    print("You really like bananas!")

if 'orange' in favorite_fruits:
    print("You really like oranges!")

if 'strawberry' in favorite_fruits:
    print("You really like strawberries!")

if 'kiwi' in favorite_fruits:
    print("You really like kiwis!")

In [ ]:
#5-8
usernames = ['admin', 'jaden', 'emma', 'john', 'sophie']

for username in usernames:
    if username == 'admin':
        print("Hello admin, would you like to see a status report?")
    else:
        print(f"Hello {username.title()}, thank you for logging in again.")

In [ ]:
#5-9
usernames = []

if usernames:
    for username in usernames:
        if username == 'admin':
            print("Hello admin, would you like to see a status report?")
        else:
            print(f"Hello {username.title()}, thank you for logging in again.")
else:
    print("We need to find some users!")

In [ ]:
#5-10
current_users = ['sammy', 'ella', 'clarke', 'joe', 'alec']

new_users = ['varun', 'kate', 'leen', 'dan', 'sam']

current_users_lower = [user.lower() for user in current_users]

for new_user in new_users:
    if new_user.lower() in current_users_lower:
        print(f"Sorry, the username '{new_user}' is not available. Please enter a new username.")
    else:
        print(f"The username '{new_user}' is available.")